#container{ margin: 0 auto; width: 1000px; height: 720px; background: #eee; }
header{position: relative;}
/*个人管理子菜单*/
#loginSpan{cursor: pointer; position: absolute;right:20px;  }
#loginedSpan {cursor:pointer; position: absolute;right:20px;}
#menu{width: 99px;display: none;position: absolute;}
ul,li{margin:0;padding:0; list-style: none; background: #666666;}
ul li{height: 30px; border:1px #eee solid; line-height: 30px;}
#loginedSpan:hover #menu{display: block;}

header,footer{height: 40px; line-height:40px; text-align: center; background: #666;color:white; }
#body{
    width: 1000px; min-height: 645px;
}
aside,#content{  float:left;}
aside{width: 100px;min-height: 645px; background: rgb(217, 215, 212); padding-top: 18px; text-align: center; box-sizing: border-box;}
#content{width: 900px;background: lightblue;}
a{ text-decoration: none; background: black; color:white; border-radius: 5px; height: 30px; width: 80px; line-height: 30px; margin: 5px; display: inline-block; }

#menu li{cursor: pointer;}
